
@font-face {
  font-family: "Standout-Regular";
  src: local(Standout-Regular), url(../fonts/Standout-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css?family=Asap&display=swap');

#paginaCompleta {
  font-family: 'Asap', sans-serif;
  background-color: #81DAF5;
  margin-left: 18%;
  margin-right: 18%;
  height: 920px;
  border-radius: 1.2%;
  border-color: #595959;
}
.barra-menu {
  background-color: #f2f2f2;
  border-style: groove;
  padding: 0.2%;
  border-radius: 5px;
}
#menu-vertical{
  padding: 0.1%;
  text-align: center;
}
#menu-vertical li {
  display: inline; /*Deixará o menu horizontal*/
  font-weight: bold;
  font-size: 120%;
  text-shadow: 3px 3px #e6e6e6;
}
#menu-vertical li a {
  text-decoration: none;
  padding-left: 10%;
  padding-right: 10%;
  transition: color 0.5s;
}
#menu-vertical li a:visited {
    color: #595959;
}
#menu-vertical li a:link {
    color: #595959;
}
#menu-vertical li a:hover {
  color: #81DAF5;
}
#titulo {
  font-family: "Standout-Regular", serif;
  font-size: 160%;
  text-align: center;
  color: #595959;
  text-shadow: 2px 2px #e6e6e6;
}
#subtitulo {
  font-size: 120%;
  text-align: center;
  color: #595959;
  text-shadow: 2px 2px #e6e6e6;
}

.img-logo img {
  width: 10%;
}

#paragrafo {
  color: #2b2b2b;
  font-style: normal;
  display: flex;
  align-items: center;
  margin-left: 2%;
}
